.window_log {
  flex-grow: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 16px;
  .log_entry {
    position: relative;
    padding: 16px;
    width: 80%;
    background: linear-gradient(-152deg, #eff1ee 60%, #f9f7f8);
    margin-bottom: 8px;
    border-radius: 4px;
    color: $black;
    transition: all 200ms ease-out;
    &.authored {
      align-self: flex-end;
      background: $blue;
      color: #fff;
      background: linear-gradient(152deg, $blue 60%, darken($blue, 10%));
    }
    .authorship {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      position: relative;
      .timestamp {
        @include gotham(1rem, normal, $grey);
      }
      .author {
        @include gotham(1.3rem, bold, inherit);
        &:before {
          width: 6px;
          height: 6px;
          content: '';
          border-radius: 100%;
          background: $blue;
          position: absolute;
          left: -11px;
          top: 50%;
          transform: translateY(-50%);
          display: none;
        }
      }
    }

    .content {
      @include gotham(1.1rem, normal, inherit);
      p {
        margin-bottom: 4px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    @media (max-width: 400px) {
      .authorship {
        flex-flow: column;
        align-items: flex-start;
        .author {
          margin-bottom: 2px;
        }
      }
    }
  }
}
