$black: #546070;
$blue: #7cacb0;
$accent: $blue;
$grey: #cecece;
$white: #fffefa;

@import '../fonts/gotham-rounded-bold';
@import '../fonts/gotham-rounded-book';

@mixin gotham($size, $weight, $color) {
  font-family: 'gotham-rounded';
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@keyframes errorShake {
  0% {
    transform: translateX(-15%);
  }
  25% {
    transform: translateX(-0%);
  }
  50% {
    transform: translateX(15%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-15%);
  }
}

@keyframes flip {
  0% {
    transform: translateX(-8%) translateY(-47%) skewX(0deg) skewY(0deg)
      rotateY(0deg) scale(0.8);
    opacity: 0.8;
    z-index: 0;
  }
  17% {
    transform: translateX(8%) translateY(-47%) skewX(0deg) skewY(0deg)
      rotateY(-5deg) scale(0.8);
    opacity: 0.8;
    z-index: 0;
  }
  34% {
    transform: translateX(48%) translateY(-47%) skewX(0deg) skewY(-7deg)
      rotateY(-85deg) scale(0.75);
    opacity: 0.8;
    z-index: 0;
  }
  51% {
    transform: translateX(45%) translateY(-50%) skewX(0deg) skewY(-15deg)
      rotateY(-88deg) scale(0.8);
    opacity: 1;
    z-index: 0;
  }
  70% {
    transform: translateX(35%) translateY(-50%) skewX(0deg) skewY(0deg)
      rotateY(-45deg) scale(0.9);
    opacity: 1;
    z-index: 0;
  }
  100% {
    transform: translateX(0%) translateY(-50%) skewX(0deg) skewY(0deg)
      rotateY(0deg) scale(1);
    z-index: 4;
    opacity: 1;
  }
}
