$black: #546070;
$blue: #7cacb0;
$accent: $blue;
$grey: #cecece;
$white: #fffefa;

@import '../fonts/gotham-rounded-bold';
@import '../fonts/gotham-rounded-book';

@mixin gotham($size, $weight, $color) {
  font-family: 'gotham-rounded';
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@keyframes errorShake {
  0% {
    transform: translateX(-15%);
  }
  25% {
    transform: translateX(-0%);
  }
  50% {
    transform: translateX(15%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-15%);
  }
}

@keyframes flip {
  0% {
    transform: translateX(-8%) translateY(-47%) scale(0.9) skewX(0deg)
      skewY(0deg) rotateY(0deg);
    opacity: 0.8;
  }
  25% {
    transform: translateX(90%) translateY(-65%) skewX(10deg) skewY(-15deg)
      rotateY(90deg) scale(1);
    z-index: 4;
    opacity: 1;
  }
  50% {
    transform: translateX(80%) translateY(-65%) skewX(0deg) skewY(0deg)
      rotateY(45deg) scale(1);
    opacity: 1;
    z-index: 4;
  }
  100% {
    transform: translateX(0%) translateY(-50%) skewX(0deg) skewY(0deg)
      rotateY(0deg) scale(1);
    z-index: 4;
    opacity: 1;
  }
}
